@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ribeye&display=swap');
/* Fonts
Playful - Ribeye
Serious - Poppins
 */
:root{
    --dark-violet : #645ca1;
    --dark-blue: rgba(188,228,243,1);
    --transition-time : 1.5s;
}
html{
    width: 100vw;
    overflow: hidden;
}
::selection{
    background: var(--dark-violet);
    color: white;
}
*{
    margin:0;
    padding:0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
main{
    display: flex;
    justify-content: start;
    align-items: center;
    width: 400vw;
    height: 100vh;
    position: relative;
    transform: translateX(0vw);
    transition-duration: var(--transition-time);
    transition-property: transform;
    transition-timing-function: ease-out;
}
.heading{
    font-family: 'Ribeye';
    color: var(--dark-violet);
}
.page{
    width: 100vw;
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* First Page CSS */
#sign-in-div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    left: 35vw;
    top: 50vh;
    transform: translate(-50%, -50%);
    position: absolute;
    z-index: 10;
}
#sign-in-div>h1{
    font-size: 60px;
    font-weight: 200;
}
#sign-in-input-div{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items:start;
    flex-direction: column;
    gap: 5px;
}
#sign-in-input-div label{
    margin-bottom: 0px;
    padding-left: 10px;
    color: var(--dark-violet);
    font-weight: 600;
    position: relative;
    cursor: text;

}
#sign-in-input-div input{
    width: 100%;
    padding: 12px 44px;
    font-size: 15px;
    outline: none;
    border-radius: 40px;
    border: none;
    background: var(--dark-blue);
    caret-color: var(--dark-violet);
    font-weight: 500;
    opacity: 1;

}
#sign-in-input-div input::placeholder{
    color: rgba(0, 0, 0, 0.3);
    font-weight: 500;
}
#sign-in-input-div button{
    width: 100%;
    padding: 12px;
    font-size: 15px;
    border-radius: 40px;
}
.button{
    outline: none;
    border: none;
    background: var(--dark-violet);
    color: white;
    cursor: pointer;
}
.button:active{
background: #48417b;
}

.input-user-icon{
    position: absolute;
    bottom: -38.5px;
    left: 18px;
    scale: 1.3;
    opacity: 0.2;
}
.bg-image{
    min-width: 400vw;
    position: absolute;
    left: 0vw;
    top: -20%;
    min-height: 100vh;
}
.question-div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}
.task-heading{
    align-self: start;
}
.smallest-num-question{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.question-num{
    color: var(--dark-violet);
    font-size: 22px;
}
.smallest-num-question span{
    padding:8px 40px;
    border-radius: 5px;
    border: 1px solid rgb(113, 113, 113);
    cursor: pointer;
    font-size: 18px;
}
.nav-buttons{
    position: absolute;
    bottom: 10%;
    width: 75%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-button{
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 6px;
}
.smallest-num-question span:hover{
    background-color: var(--dark-blue);
}
.fill-question{
    display: flex;
    justify-content: center;
    align-items: center;
}
@media screen and (max-width:700px) {
    :root{
        --transition-time : 1.5s;
    }
    #sign-in-div{
        left: 50vw;
        top: 50vh;
        width: 80vw;
    }
    #sign-in-div>h1{
        font-size: 40px;
    }
    #sign-in-input-div{
        align-items: center;
    }
    #sign-in-input-div input{
        text-align: center;
    }
    .input-user-icon{
        left: 0;
    }
    
}